.content {
  max-width: 355px;

  @include vp-1199 {
    max-width: 502px;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.content h2 {
  font-family: $ff-alumni;
  font-weight: $fw-semi-bold;
  font-size: $fz-xxxlbig;
  line-height: $lh-xlarge;
  color: $color-sapphire;
  letter-spacing: $ls-medium;
  margin: 0;
  padding-bottom: 8px;

  @include vp-1199 {
    font-size: $fz-xxbig;
    line-height: $lh-slarge;
    padding-bottom: 4px;
  }

  @include vp-767 {
    font-size: $fz-big;
    line-height: $lh-xlbig;
  }
}

.content h3 {
  font-family: $ff-roboto;
  font-weight: $fw-normal;
  font-size: $fz-xxxsmall;
  line-height: $lh-xxlxmedium;
  color: $color-sapphire;
  margin: 0;
  padding-bottom: 40px;

  @include vp-1199 {
    padding-bottom: 31px;
  }

  @include vp-767 {
    padding-bottom: 25px;
  }
}

.content p {
  font-family: $ff-roboto;
  font-weight: $fw-light;
  font-size: $fz-xxsmall;
  line-height: $lh-xxmedium;
  color: $color-sapphire;
  margin: 0;
  padding-bottom: 5px;

  @include vp-1199 {
    padding-bottom: 45px;
  }

  @include vp-767 {
    margin-right: 30px;
    padding-bottom: 33px;
  }
}

.content__text-desktop {
  @include vp-1199 {
    display: none;
  }
}
