.double-block {
  display: flex;
  background-color: $color-sapphire;
  border-top: 1px solid $color-sapphire;
  position: relative;

  @include vp-1199 {
    flex-direction: column;
    border: none;
  }
}

.double-block__registration,
.double-block__contacts {
  flex: 1 1 50%;
  position: relative;

  @include vp-1199 {
    flex: 1 1 100%;
  }
}
