.media__content {
  position: relative;
}

.media__photo {
  position: relative;
  width: 100%;
  min-height: 401px;
  overflow: hidden;

  @include vp-1199 {
    padding: 0;
    min-height: 345px;
    max-height: 401px;
  }

  @include vp-767 {
    min-height: 313px;
    margin-bottom: 40px;
  }
}

.media__photo img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: $color-sapphire;

  @include vp-767 {
    position: absolute;
  }
}

.media__video {
  position: absolute;
  transform: translateY(50%);
  left: 0;
  bottom: 0;

  @include vp-1199 {
    transform: translateX(-50%) translateY(50%);
    bottom: 0;
    left: 50%;
  }

  @include vp-767 {
    position: relative;
    left: 0;
    transform: none;
  }
}

.media__wrapper {
  position: relative;
  cursor: pointer;
  width: 364px;
  height: 228px;
  left: -63px;
  top: 2px;

  @include vp-1199 {
    width: 266px;
    height: 167px;
    left: 0;
    top: 0;
  }

  @include vp-767 {
    width: 320px;
    height: 167px;
    max-height: auto;
    margin: 0 auto;
  }
}

.media__video a {
  display: block;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color-dark-cerulean, 0.5);
    top: -1px;
    left: 0;
  }
}

.media__video img,
.media__video iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: $color-dark-cerulean;
  cursor: pointer;
}

.media__video iframe {
  border: none;
}

.media__video button {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: none;
  width: 72px;
  height: 72px;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  padding: 0;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  background: $torchred-to-cobalt-play;
  outline: none;

  @include hover {
    background: $color-default-white;
    outline: none;

    & svg {
      fill: $color-sapphire;
    }

    &::after {
      @include border-gradient($color-sapphire, $color-sapphire, 1px);
      opacity: 1;
      outline: none;
    }

    &:active {
      width: 58px;
      height: 58px;
    }
  }

  &:disabled {
    background: $color-default-white;
    opacity: 0.4;

    & svg {
      fill: $color-sapphire;
    }

    &::after {
      @include border-gradient($color-sapphire, $color-sapphire, 1px);
      opacity: 1;
    }
  }

  &::after {
    @include border-gradient($color-torch-red, $color-cobalt, 1px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    opacity: 0.2;
    content: "";
  }

  @include vp-1199 {
    width: 52px;
    height: 52px;
    transform: translateX(-50%) translateY(-50%);

    &::after {
      width: 73px;
      height: 73px;
    }
  }

  @include vp-767 {
    width: 52px;
    height: 52px;
    transform: translateX(-50%) translateY(-50%);

    &::after {
      width: 73px;
      height: 73px;
    }
  }
}

.media__video[data-video="is-enabled"] button {
  display: block;
}

.media__video svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  transform: translateX(-33%) translateY(-50%);
  fill: $color-default-white;

  @include vp-1199 {
    width: 12px;
    height: 12px;
    transform: translateX(-48%) translateY(-50%);
  }

  @include vp-767 {
    transform: translateX(-50%) translateY(-40%);
  }
}
